<div class="container text-center">
  <% date = Date.today %>
  <h1>Today is <%= date %></h1>

  <ul class="list-unstyled">
    <% ['ERB', 'Middleman', 'SCSS'].each do |tech| %>
      <li>We are playing with <%= tech %></li>
    <% end %>
  </ul>


  <%= link_to "Sign up", "#", class: "btn btn-primary" %>


  <a href="">djowedjewoidj</a>
</div>


